<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>
<html>
<head>
	<title>my favorite sport</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='style.css')}}">
</head>
<body>
	<h1>My Favorite players are:</h1>
	<br>
	<ol>
		{% for player in players%}
		<li >{{player}}</li>
	{%endfor%}
	</ol>
	<br>
	<p>do you like the same players? </p>
	<p>{{likes_same_sport}}</p>
	{%if likes_same_sport == True%}
	<p>YAY! we like the same players</p>
	{%else%}
	<p>OH no why don't you not like those players?!</p>

	{%endif%}

	

</body>
</html>
